*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#0f172a;
  color:white;
}

header{
  background:#111827;
  padding:20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

header h1{
  color:#38bdf8;
}

nav a{
  color:white;
  text-decoration:none;
  margin-left:20px;
}

.hero{
  text-align:center;
  padding:80px 20px;
}

.hero h2{
  font-size:45px;
  margin-bottom:20px;
}

.hero p{
  font-size:20px;
  color:#cbd5e1;
}

button{
  margin-top:30px;
  padding:15px 30px;
  border:none;
  border-radius:10px;
  background:#38bdf8;
  color:white;
  font-size:18px;
  cursor:pointer;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  padding:50px;
}

.card{
  background:#1e293b;
  padding:30px;
  border-radius:15px;
  text-align:center;
}

.card h3{
  margin-bottom:15px;
}

.pricing{
  text-align:center;
  padding:50px;
}

.price-box{
  background:#1e293b;
  padding:30px;
  margin:20px auto;
  max-width:400px;
  border-radius:15px;
}

footer{
  background:#111827;
  text-align:center;
  padding:20px;
}
{
body{
 background:black;
 color:white;
 text-align:center;
 font-family:Arial;
}
